@import "tailwindcss";

@theme {
    --color-botones-trazo: #5c1690;
    --color-botones-sombra: #b292ca;
    --color-botones-sombra-hover: #d3c1e1;
    --color-botones-primario-enfoque: #ffffff;
    --color-botones-primario-hover: #f3eef7;
    --color-botones-secundario-secundario: #e8d0fa;
    --color-botones-secundario-hover: #d59eff;
    --color-botones-peligro-peligro: #ffc4c4;
    --color-botones-peligro-hover: #ff8b8b;
    --color-error: #ff0000;
    --color-cajas: #d6adf591;
}